<?php
/* 	HTML Metas
 * 	- Title
 * 	- Description
 */
$metas = array(
//	Title of your html
	'title' 		=> 'Clockworks',

//	Description of your project
	'description'	=> 'A set of tools for prototyping your application'
);


/* 	Scripts to be printed in head element
 * 	- css
 * 	- javascripts
 * 	
 * 	Note : 
 * 	if not needed, just leave an empty array.
 */
$scripts_head = array(
	'css' => array(
		'your_style_name' => 'path_to_your_style',
	),
	'javascript' => array(
		'your_script_name' => 'path_to_your_script',
	)
);


/* 	Scripts to be printed before the closing of body element
 * 	- css
 * 	- javascripts
 * 	
 * 	Note : 
 * 	if not needed, just leave an empty array.
 */
$scripts_foot = array(
	'css' => array(
		'your_style_name' => 'path_to_your_style',
	),
	'javascript' => array(
		'your_script_name' => 'path_to_your_script',
	)	
);


/* 	Special body class if needed
 * 	
 * 	Note : 
 * 	if not needed, just leave an empty array.
 */
$body_class = array(
	'your_body_class',
);


/* 	Let us do the rest. Just focus on your experiment
 */
$args = array(
	'html_metas' 		=> $metas,
	'html_scripts_head' => $scripts_head,
	'html_scripts_foot' => $scripts_foot,
	'html_body_class'	=> $body_class
);

config( $args );